<table class="table table-hover">
    <thead>
    <tr>
        <th>№</th>
        <th><input type="text" placeholder="Наименование" ng-model="searchText"></th>
        <th>Кол.</th>
        <th>Куплено</th>
        <th>Продано</th>
        <th>Сумма продажи</th>
        <th>Прибыль</th>
        <th>Дата</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="i in archive | filter:searchText">
        <th>{{i.id}}</th>
        <th>{{i.name}}</th>
        <th>{{i.count}}</th>
        <th>{{i.price}} руб.</th>
        <th>{{i.priceone}} руб.</th>
        <th>{{i.sum}} руб.</th>
        <th>{{i.profit}} руб.</th>
        <th>{{i.date}}</th>
    </tr>
    <tr class="total">
        <th></th>
        <th>Итого:</th>
        <th>{{total.count}} ед.</th>
        <th></th>
        <th></th>
        <th></th>
        <th class="profit">{{total.profit}} руб.</th>
        <th></th>
    </tr>
    </tbody>
</table>