<table class="table table-hover">
    <thead>
    <tr>
        <th>№</th>
        <th><input type="text" placeholder="Наименование" ng-model="searchText"></th>
        <th>Кол.</th>
        <th>Куплено</th>
        <th>Продажа</th>
        <th>Сумма покупки</th>
        <th>Сумма продажи</th>
        <th>Изменить</th>
        <th>Продано</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="i in items | filter:searchText">
            <th>{{i.id}}</th>
            <th>{{i.name}}</th>
            <th>{{i.count}}</th>
            <th>{{i.price}}</th>
            <th>{{i.priceone}}</th>
            <th>{{i.sum}}</th>
            <th>{{i.priceall}}</th>
            <th><button class="btn btn-info" ng-click="edit($index)">Изменить</button></th>
            <th>
                <div class="col-xs-4">
                    <input ng-model="sold.count[i.id]" type="number" style="width: 60px">
                </div>
                <div ng-show="sold.count[i.id]" class="col-xs-7 col-xs-offset-1">
                    <button ng-click="sold(i.id)" class="btn btn-success">Ok</button>
                </div>
            </th>
        </tr>
        <tr class="total">
            <th></th>
            <th>Итого:</th>
            <th>{{total.count}} ед.</th>
            <th></th>
            <th></th>
            <th>{{total.sum}} руб.</th>
            <th>{{total.priceall}} руб.</th>
            <th>Ожидаемая <br />прибыль</th>
            <th class="profit">{{total.profit}} руб.</th>
        </tr>
    </tbody>
</table>